@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--text-color); /* Texto claro para contraste */
}

#container {
  max-width: 470px;
  background-color: var(
    --container-bg
  ); /* Fundo mais escuro para o container */
  border-radius: 20px;
  padding: 18px;
  box-shadow: var(--container-bx); /* Sombra mais suave */
}

#weather #title {
  text-align: center;

  margin-bottom: 5px;
  font-weight: 600;
  color: var(--weather-tl);
}

#temp {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 8px;
  background: var(--temp-bg); /* Gradiente mais escuro */
  color: #d9d9d9;
  border-radius: 20px;
  padding: 20px;
}

#temp_img {
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
  width: 110px;
}

#temp_value {
  font-weight: bold;
  font-size: 60px;
  line-height: 55px;
}

#temp_description {
  font-weight: 500;
  text-transform: capitalize;
}

#other_infos {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

#other_infos .info {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 4px 10px;
  border-radius: 8px;
  box-shadow: var(--other-info-bx); /* Sombra mais forte */
  background-color: var(--other-info-bg); /* Fundo mais escuro */
  gap: 10px;
}

#other_infos .info h2 {
  font-size: 12px;
  font-weight: 600;
  color: #b0b0b0; /* Título em tom de cinza claro */
}

#other_infos .info i {
  text-align: center;
  font-size: 20px;
  width: 20%;
}

#temp_max_icon {
  color: #7f1d1d;
}

#temp_min_icon {
  color: #0284c7;
}

#rain-icon {
  color: #0ea5e9;
}

#lumi_icon {
  color: #ede73a;
}
#data {
  font-size: 10px;
}
#map {
  height: 130px;
  width: 100%;
  border-radius: 24px;
  margin: 15px auto; /* Centraliza horizontalmente */
  display: flex; /* Torna o mapa um contêiner flexível */
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
  box-shadow: var(--map-bx); /* Sombra mais forte */
}
/* Rectangle 1 */
#switch {
  position: relative;
  width: 64px;
  height: 10px;
  margin: 4px auto;
}
#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 55%;
  left: -5%;
  z-index: 1;
  transform: translateY(-25%);
  animation: slide-back 0.3s;
}

.dark #switch button {
  animation: slide-in 0.3s forwards;
}

#switch button:hover {
  outline: 5px solid var(--highlight-color);
}

#switch span {
  display: block;
  height: 24px;
  width: 64px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  border-radius: 9999px;
}
@keyframes slide-in {
  from {
    left: -1%;
  }
  to {
    left: 55%;
  }
}

@keyframes slide-back {
  from {
    left: 55%;
  }
  to {
    left: -1%;
  }
}

.dark {
  --text-color: #f0f0f0;
  --bg-color: linear-gradient(
    180deg,
    rgba(30, 30, 30, 0.8) 0%,
    rgba(40, 40, 40, 0.8) 100%
  );
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/MoonStars.svg);
  --container-bg: #2e2e2e;
  --container-bx: 0px 0px 5px rgba(0, 0, 0, 0.6);
  --weather-tl: #e0e0e0;
  --temp-bg: linear-gradient(90deg, #3a5a6f, #4e6f7f);
  --other-info-bx: 0px 0px 5px rgba(0, 0, 0, 0.4);
  --other-info-bg: #3a3a3a;
  --map-bx: 0px 0px 5px rgba(0, 0, 0, 0.6); /* Sombra mais forte */
}

:root {
  --text-color: black;
  --bg-color: linear-gradient(
    180deg,
    rgba(74, 144, 226, 0.533333) 0%,
    rgba(0, 86, 130, 0.533333) 100%
  );
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/Sun.svg);
  --container-bg: #f0f8ff;
  --container-bx: 5px 5px 5px rgba(0, 0, 0, 0.1);
  --weather-tl: #372f3f;
  --temp-bg: linear-gradient(90deg, #5a7cdc, #606dde);
  --other-info-bx: 0px 0px 5px rgba(0, 0, 0, 0.2);
  --other-info-bg: #fff;
  --map-bx: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Sombra mais forte */
}
